// Base-level tags.
// p, a, etc.

// Base-level typography (colors, fonts).

body {
	background-color: hsl(0,10%,90%);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.menu > li > a {
	color: #fff;
}



.img-container {
	overflow: hidden;
}

  .center {
	text-align: center;
} .left {
	text-align: left;
} .right {
	text-align: right;
}

.clear {
	clear: both;
}


