// Base-level tags.
// p, a, etc.

// Base-level typography (colors, fonts).

body {
	background-color: hsl(0,10%,90%);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.img-container {
	overflow: hidden;
}


.clear {
	clear: both;
}