// -------------------------------------
//   Content
// -------------------------------------

.site-header {
	padding-top: 1px; // Avoid margin collapsing in FF
	background-color: white;
	@include breakpoint($l-break-xlarge) {
		background: 0; // Reset grid background on dev
		background-color: white;
	}
}

	.site-logo {
		@include adjust-font-size-to(2rem);
		@include leader(0.5);
		@include trailer(0.5);
		
		@extend %ore-l-left;

		background-color: white;
		padding-left: $l-padding-small;
		
		@include breakpoint($l-break-small2) {
			@include adjust-font-size-to(2.5rem);
			padding-left: $l-padding-small2;
		}
					
		@include breakpoint($l-break-medium) {
			@include adjust-font-size-to(4rem);
			@include leader(0);
			@include trailer(0);
			padding-left: 0;
			text-align: center;
		}

		a {
			color: #000;
			text-decoration: none;
			font-weight: normal;
		}
	}

	.site-tagline {
		background-color: white;
	}
		.tagline-wrap p {
			@include adjust-font-size-to(0.9rem);
			@include breakpoint($l-break-small2) {
				@include adjust-font-size-to(1rem);
			}
		}


.content__title {
	@include leader(0);
	@include trailing-border(2px, 0);
}


.cta {
	@include leader(1);
	@include trailer(1);
}

.cta--single {
	@include leader(1.5);
	@include trailer(1.5);
}

.cta__p {
	@include rhythm(0, 0.5, 0.5, 0);
	padding-right: 0.5em;
	padding-left: 0.5em;
	background-color: #fff;
}

.cta__button {
	display: block;
	margin: 0;
	// @include rhythm(0, 0.5, 0.5, 0);
	padding-right: 0.5em;
	padding-left: 0.5em;
	// background-color: #fff;
	// @include adjust-font-size-to(0.9rem);
	@include rhythm-borders(4px, 0.5);
	background-color: #fff;
	border-color: #fff;
	@extend %ore-t__all--050;
	&:hover {
		border-color: $color-accent;
	}
}