// Base-level layout (margin, padding, sizing).
.site-header,
.wrap-main {
	@include container($s-container);
}
.wrap-main {
	@include breakpoint($l-break-xlarge) {
		@include container($s-container-xlarge);
	}
}


.site-header {
	padding-top: 1px; // Avoid margin collapsing in FF
	background-color: white;
	@include breakpoint($l-break-xlarge) {
		background: 0; // Reset grid background on dev
		background-color: white;
	}
}

	.site-banner {
		@include span(first 10 of 12 nest);
		@include breakpoint($l-break-medium) {
			@include span(12 of 12 nest);
		}
		@include breakpoint($l-break-xlarge) {
			float: none; // Reset float
			@include container($s-container-xlarge);
		}
	}


		.site-logo {
			@include span(first 3 of 10);
			@include adjust-font-size-to(3em);
			@extend %ore-m--0;

			@include breakpoint($l-break-medium) {
				@include span(first 2 of 12 wide);
				margin-right: 0; // Allow tagline to float up
				@include adjust-font-size-to(4em);
			}
		}

		.site-tagline {
			@include span(last 7 of 10);
			@include adjust-font-size-to(1em);
			height: 4.5em;
			//@include rhythm(0, .50, .50, 0, 15px); // chrome bug>

			@include breakpoint($l-break-medium) {
				@include span(last 10 of 12);
				@include suffix(2 of 12);
				height: auto;
				@include rhythm(0, .25, .25, 0, 15px); // chrome bug ??
			}
			@include breakpoint($l-break-xlarge) {
				@include rhythm(0,1,1,0,15px);
				padding-right: 0;
			}
		}
		// All of this for ensuring vertical align when text wraps on mobile
		.tagline-wrap {
		    display: table;
		    height: 4.5em;
		    @include breakpoint($l-break-medium) {
		    	height: auto;
		    }
		}
			.tagline-wrap p {
			    margin: 0;
			    display: table-cell;
			    vertical-align: middle;
			}

	.nav-main {
		background-color: white;
		// And 100% width in mobile
		@include breakpoint($l-break-medium) {
			background-color: black;
			@include span(last 10 of 12);
			// @include pre(2 of 12);
			@include suffix(2 of 12);
			margin-top: - rhythm(1.5, 15px);
		}
		@include breakpoint($l-break-xlarge) {
			width: 100%;
			margin-top: 0;
			padding-right: 0;
			float: none;
			.menu {
				@include container($l-break-xlarge);
			}
		}
	}


.wrap-main {
	@include leader(1);

	@extend %ore-p__sides--small;
	@extend %ore-p__sides--small2;
	@extend %ore-p__sides--medium--0;
}


.content--left {
	// @include span(12 of 12); not needed, 100% by default.

	@include breakpoint($l-break-medium) {
		@include pre(2 of 12);
		@include span(6 of 12);
		margin-right: 0;
	}
	@include breakpoint($l-break-large) {
		@include pre(2 of 12);
		@include span(5 of 12);
		margin-right: 0;
	}
}

.sidebar {
	@include span (8 of 12 at 3 nest);
	@include breakpoint($l-break-medium) {
		@include span(2 of 12 at 8 wide nest);
		padding-left: $base-line-height; // Whitespace same as 1 line
	}
	@include breakpoint($l-break-large) {
		@include span(3 of 12 at 8 wide nest);
		padding-left: $base-line-height;
	}
}