// Base-level layout (margin, padding, sizing).

.site-logo,
.site-tagline,
.menu,
.wrap-main {
	margin: 0 auto;
	width: 980px;
}

.nav-main {
	background-color: black;
	
}



.site-logo {
	font-weight: normal;
	font-size: 400%;
	line-height: 1em;
	margin-top: 0.4em;
	a {
		color: black;
		text-decoration: none;
	}

}


.content--left {
	float: left;
	width: 610px;
	overflow: hidden;
}

.sidebar {
	margin-left:680px;
	width: 300px;
	padding-top: 3em;
	overflow: hidden;
}