// *************************************
//
//  	Settings
//  	#Font sizing, devmode, rhytm, font size and more
//		#Susy and more RWD stuff
// 		#Colors
// 
// *************************************

// -------------------------------------
//   #Font sizing
// -------------------------------------
$base-font-size: 15px;
$base-line-height: 22px;
$rhythm-unit: 'rem';
@include establish-baseline;

$h1-font-size: 1.5    * $base-font-size;
$h2-font-size: 1.25  * $base-font-size;
$h3-font-size: 1.1 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// -------------------------------------
//  	#Susy layout
// 		s-* for susy specific
// 		l-* for vars passed to layout
// -------------------------------------
$s-grid-bg: show; // Show/Hide - For showing the susy and rhytm background

// ----- Generic vars ----- //
$s-boxsizing: border-box;
$s-columns: 12;
$s-container-width: auto;
$s-grid-type: fluid;
$s-gutter-ratio: 1/4;
$s-gutter-position: inside;

// ----- Xlarge vars ----- //
$s-column-width-xlarge: (85em / $s-columns) * 0.8; // 85em (desired width) / 12 (column number) / 0.8 (gutter ratio) = 
$s-container-width-xlarge: auto; // Adjust using column width instead. Refer to Susy docs
$s-grid-type-xlarge: static;

// ----- Breakpoints ----- //
// ----- 	WARNING!
// 			Don't change var names
// 						-- //
$l-break-small2: 480px; //32em; // 480px
$l-break-medium: 768px; //51.5em; // 773px
$l-break-large: 1025px; // 1035px
$l-break-xlarge: 1360px; // 1360px


// ----- Container padding ----- //
$l-padding-small: 0.5rem;
$l-padding-small2: 1rem;
$l-padding-medium: 2em;
$l-padding-large: 3em;
$l-padding-xlarge: 0;

// ----- Standard container ----- //
$s-container: (
	columns: $s-columns,
	gutters: $s-gutter-ratio,
	gutter-position: $s-gutter-position,
	container: $s-container-width,
	math: $s-grid-type,
	debug: (
    	image: $s-grid-bg,
    ),
	global-box-sizing: $s-boxsizing,
);

$s-container-xlarge: (
	columns: $s-columns,
	column-width: $s-column-width-xlarge,
	gutters: $s-gutter-ratio,
	gutter-position: $s-gutter-position,
	math: $s-grid-type-xlarge,
	debug: (
    	image: $s-grid-bg,
    ),
    global-box-sizing: $s-boxsizing,
);

// -------------------------------------
//  	#Colors
// 		color-*
// -------------------------------------
$color-accent: red;
$color-accent2: purple;

$color-caption: #fff;
$color-caption-bg: rgba(0, 0, 0, 0.7);