// -------------------------------------
//   States
// -------------------------------------

.trans-opac-025 {
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}