// -------------------------------------
//   Grid
// -------------------------------------


.img-grid__itm {
	overflow: hidden;
	display: block;
}

.img-grid__itm:nth-child(odd) {
	@include span(last 1 of 2);
}
.img-grid__itm:nth-child(even) {
	@include span(1 of 2);
}
.sidebar-figure {
}

.img-grid__img {
	max-height: 100%;
	max-width: 100%;
	opacity: 0.5;
}