// -------------------------------------
//   Grid
// -------------------------------------


.img-grid__itm {
	overflow: hidden;
	display: block;
	@include gallery(4 of 8);
}

.img-grid__itm:nth-child(odd) {
	// susy-get(container, $large);

	//@include span(last 1 of 2);
}
.img-grid__itm:nth-child(even) {
	//@include span(1 of 2);
}
.sidebar-figure {
}

.img-grid__img {
	max-height: 100%;
	max-width: 100%;
	opacity: 0.5;
}