/* -------------------------------------
	Img-text
	For text on images.
	container = usually image. can be anchor
	title = header tag
	bg = span
------------------------------------- */

/* Base
---------------------------------------- */

.img-text__container {
	@extend %display-block;
	@extend %ore-pos-rel;
}
%img-text__title {
	@extend %ore-pos-abs;
}
%img-text__bg {
	white-space: nowrap;
	background-color: hsla(120, 10%, 0%, 0.5);
	padding: 0.5em;
	color: white;
}

/* Product single
---------------------------------------- */

.img-text__title--product {
	@extend %img-text__title;
	top: 0;
	left: 0;
}

.img-text__bg--product {
	@extend %img-text__bg;
}

/* Product list
---------------------------------------- */

.img-text__title--product-list {
	@extend %img-text__title;
	top: 0;
	left: 0;
}

.img-text__bg--product-list {
	@extend %img-text__bg;
}

/* Sidebar
---------------------------------------- */

.img-text__title--sidebar {
	@extend %img-text__title;
	top: 5px;
	right: 0;
}

.img-text__bg--sidebar {
	@extend %img-text__bg;
}

