// -------------------------------------
//	Fotorama
// -------------------------------------

.fotorama__caption__wrap {
    background-color: $color-caption-bg; // #fff
    background-color: $color-caption-bg;
}

.fotorama__caption__wrap p {
	margin: 0;
	color: $color-caption;
}