.nav-list {
	padding: 0;
	margin: 0; // get rid of this margin and paddingwhen setting sidebar for grid
	list-style-type: none;
}

// tweak menu walker to include nav-list on primary menu. get riud of .menu
.menu {
	list-style-type: none;
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	text-align: right;

	li {
		display: inline-block;
		margin-left: 0.5em;
	}
}

		.menu li > a {
			color: white;
			//font-size: 100%;
			display: block;
			padding-left: 0.5em;
			padding-right: 0.5em;
			border-bottom: hsl(0,10%,90%);

			&:hover {
				background-color: hsl(0,10%,90%);
				color: black;
				//border-bottom: 4px solid hsl(0,10%,90%);
			}
		}
		//.menu .current-menu-item > a {
		//	border-bottom: 4px solid hsl(0,10%,90%);
		//}
